Django==1.10.2
PySocks==1.5.7
argparse==1.2.1
boto3==1.4.1
botocore==1.4.65
docutils==0.12
future==0.15.2
futures==3.0.5
geopy==1.11.0
gprof2dot==2016.10.13
gpsoauth==0.3.0
jmespath==0.9.0
protobuf==3.0.0
psycopg2==2.6.2
pycryptodomex==3.4.2
python-dateutil==2.5.3
redis==2.10.5
requests==2.11.1
s2sphere==0.2.4
s3transfer==0.1.9
six==1.10.0
wsgiref==0.1.2
xxhash==0.6.1