appdirs==1.4.3
boto3==1.4.1
botocore==1.4.93
colorama==0.3.7
Django==1.10.2
docutils==0.12
future==0.15.2
futures==3.0.5
geopy==1.11.0
gprof2dot==2016.10.13
gpsoauth==0.3.0
jmespath==0.9.0
packaging==16.8
protobuf==3.0.0
psycopg2==2.6.2
pyasn1==0.2.3
pycryptodomex==3.4.2
pyparsing==2.2.0
PySocks==1.5.7
python-dateutil==2.5.3
PyYAML==3.12
redis==2.10.5
requests==2.11.1
rsa==3.4.2
s2sphere==0.2.4
s3transfer==0.1.9
six==1.10.0
xxhash==0.6.1
